{% extends "layout.html" %}

{% block body %}


<div class="row">
    <div class="col-sm-8">

        <h3>Our Vision and Mission </h3>
        <hr>
        <br>


        <p>Our aim is to bring pet owners together and enable them to meet each other. 
            It is very important for animal lovers to meet each other and to help each other in animal care.
            We are also interested in protecting and rehabilitating stray animals. 
        <br>
        <br>
        If you animal lovers join us, we will become a big family and we can help our little friends even more. 
        </p>


    </div>
</div>

{% endblock %}